.input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

button {
	margin-top:20px;
}

.pageHeader {
	background-color: #ffffff80;
	box-shadow: 0px 10px 10px 10px #ffffff80;
	width: fit-content;
	padding:36px;
}

#milestones {
	margin-left: 120px;
	
}

.timers {
	margin-top: 1.5rem;
}


html {
	height: 100%;
}

body {
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

label {
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-top: 20px;
}