/* Element Classes */

form{
	height:fit-content;
	margin:1em;
}

body {
	background: linear-gradient(-45deg, #ee775280, #e73c7e80, #23a6d580, #23d5ab80);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

label {
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-top: 20px;
}

button {
	border: 3px solid black;
	background-color: #ffffff39;
	color: black;
	padding: 14px 28px;
	font-size: 24px;
	cursor: pointer;
	border-radius: 16px;
	border-color: #C4A0E0;
}

button:hover {
	background-color: #C4A0E0;
	color: white;
}


/* Custom classes */



.card-header {
	background-color: #EBD8FA;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.pageHeader {
  background-color: #ffffff80;
  box-shadow: 0px 10px 10px 10px #ffffff80;
  width: fit-content;
  padding: 36px;
}

.backgroundContainer {
	border-radius: 30px;
	background-color: #ffffff80;
	height: fit-content;
	padding:20px;
}

/* Modal classes */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


.material-symbols-outlined {
	font-variation-settings:
	'FILL' 1,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48
}

div.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0.5em;
}

